
body {
  height: 150vh;
  margin: 0;
}

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100px;
  align-items: center;
  border-bottom: 1px solid black;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.drop-down {
  display: grid;
  grid-template-columns: repeat(12, 1fr)
}

.drop-down ul {
  grid-column: 11;
  font-size: 30px;
  list-style: none;
  padding: 10px;
}

.drop-down ul * {
  margin: 10px;
}

.img-class {
  display: block;
  height: 100%;
}

.header img  {
  width: 100%;
  height: 80px;
  padding: 10px 0;
  object-fit: contain;
  vertical-align: middle;
}

.menu-logo {
  grid-column: 12;
  justify-self: center;
}

.btn-1 {
  height: 60px;
  width: 50px;
  border-radius: 24px;
  background-color: none;
  border: none;
}

.btn-1:hover {
  cursor: pointer;
  background-color: rgb(104, 104, 107);
}

.dots{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10px;
  font-size: 20px;
  line-height: 20px;
  width: 2em;
}

.nav-container {
  position: fixed;
}

.navigation {
  height: 100vh;
  background: #fff;
}

#menu-href {
  margin: 0;
  text-decoration: none;
  color: black;
}

#menu-href:hover {
  color: gray;
}
